<template>
  <div id="app" class>
    <wall></wall>
    <overlay></overlay>
<playerSearch></playerSearch>
  </div>
</template>

<script>
import Wall from './components/wall'
import Overlay from './components/overlay'
import PlayerSearch from './components/playerSearch'
export default {
  name: "app",
  components: {
    Wall,
    Overlay,
    PlayerSearch
  }
};
</script>

<style>
#app {
  width: 100%;
  height: 100vh;
  position: relative;
}
</style>
