<template>
  <div class="overlay"></div>
</template>

<script>
export default {
  name: "overlay"
};
</script>

<style scoped>
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;

  background-color: rgba(204, 117, 114, 0.7);
}
</style>
