<template>
  <div class="section search">
    <div class="columns">
      <form v-on:submit.prevent="submit" class="column is-4 is-offset-4">
        <div class="field">
          <p class="control has-icons-left">
            <input autofocus class="input" type="text" placeholder="Gamertag" v-model="gamertag" />
            <span class="icon is-small is-left">
              <i class="fad fa-signature"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <div class="select">
              <select name="platform" v-model="platform">
                <option selected value="origin">Origin</option>
                <option value="psn">Playstation</option>
                <option value="xbl">Xbox</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fab fa-xbox"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success">Search</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "playerSearch",
  data() {
    return {
      platform: 'origin',
      gamertag: ''
    };
  }
};
</script>

<style scoped>

</style>
