<template>
  <div class="wall"></div>
</template>

<script>
export default {
  name: "wall",
  data() {
    return {
      wall_img: require("@/assets/apexwall.jpg")
    }
  },
  mounted() {
    document.querySelector('.wall').style.backgroundImage = `url(${this.wall_img})`
  }
};
</script>

<style scoped>
.wall {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -2;
}
</style>
